<div style = "padding-left: 50px; padding-top: 10px; padding-right: 50px">
    <p class="display-4">Most "Efficient" Archetype Lineups</p>

    <p class="lead">The ultimate goal of this hack was to answer the question: What is the best lineup of archetypes to use? </p>
    <ol>
			<br /><li class="h3">Naive Approach:</li>
			<p class="lead">The most basic approach would be to put together the team of 5 that produces the most points individually without looking at any other factors. Obviously basketball/2K is not as simple as this, but this is a good start.</p>
			<strong>Final Lineup:</strong>
			<ul class="list-group">
			  <li class="list-group-item">PG - Shot-Creating Sharpshooter </li>
			  <li class="list-group-item">SG - Sharpshooting Defender</li>
			  <li class="list-group-item">SF - Shot Creating Slasher</li>
			  <li class="list-group-item">PF - Rebounding Athletic Finisher</li>
			  <li class="list-group-item">C - Pure Rim Protector</li>
			</ul><br />

	    <li class="h3">Defensive Approach:</li>
	    <p class="lead">Looking at these insights, we can check best matchups. In this approach, if we know the other team's archetype build, we can take a look at the matchups between archetypes per position (which can be found on the Insights page) to determine which archetypes result in the most effective defense.</p>
	    <strong>Final Lineup: </strong> Variable <br /><br />
	    
	    <li class="h3">Machine Learning Approach</li>
	    <p class="lead">Mainly Tensorflow, we build neural networks to predict the best combination of players. This approach was based on the idea that certain archetypes can bring out better performance from other archetypes when paired together. This is a more realistic approach to the problem as we train a model to learn what works well with what.</p>
	    <strong>Final Lineup: </strong> Variable <br /><br />
		
		<li class="h3">Intuitive Approach</li> 
		<p class="lead">To define a more concrete answer to the question, based off of no other information, we decided to go with an intuitive approach to answer the question. Using all the data and insight we generated, along with our general basektball knowledge, and 2K playing experiences, we deemed that the best lineup to win was as follows: </p>
		<ul class="list-group">
			  <li class="list-group-item">PG - Shot-Creating Sharpshooter </li>
			  <li class="list-group-item">SG - Sharpshooting Defender</li>
			  <li class="list-group-item">SF - Shot Creating Slasher</li>
			  <li class="list-group-item">PF - Sharpshooting Rim Protector</li>
			  <li class="list-group-item">C - Slashing Rebounder</li>
			</ul><br />





</div>